{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% if user.is_authenticated %}
    {% block for_profile %}
    <div class="col-md-4">
    <div class="content-section">
        <ul class="list-group">
            <li class="list-group-item list-group-item-light">
                <a class="nav-item nav-link" href="{% url 'my_tours' %}">My tournaments</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a class="nav-item nav-link" href="#">Latest tournaments</a>
            </li>
        </ul>
        </p>
    </div>
    </div>
    {% endblock for_profile%}
{% endif %}
{% block content %}
    <div>
        {% for name_dic in tour %}
            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                    <h1>{{tour.slug}}</h1>
                    <h2> <a class="mr-2" href="{% url 'show_tournament' tournament_name_slug=name_dic.slug %}">{{ name_dic.name }}</a> </h2>
                    {% if title %}
                        <h5> <a class="ml-1" href="tournament/{{ name_dic.slug }}/change">Edit</a> </h5>
                    {% endif %}
                </div>
              </div>
            </article>
        {% endfor %}
    </div>
{% endblock content %}